<header class="site-header">
	<nav class="navbar">
<div>
           <a href="index.html">
				<img src="assets/icons/logo_cvetok.svg" alt="Bean and Brew logo" class="logo-img animated-svg">
			</a>
		<img src="assets/icons/bnb.svg" class="logo-txt" alt="Bean and Brew">
 
</div>		

		<ul class="nav-menu">
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="menu.html">Menu</a></li>
			<li><a href="booking.html">Booking</a></li>
			<li><a href="contact.html">Contact</a></li>
                
            
		</ul>

		<button class="nav-toggle" aria-expanded="false" aria-label="Open menu">
			<svg viewBox="0 0 100 100" width="250">
				<rect class="line top" width="80" height="10" x="10" y="25" rx="5"></rect>
				<rect class="line middle" width="80" height="10" x="10" y="45" rx="5"></rect>
				<rect class="line  bottom" width="80" height="10" x="10" y="65" rx="5"></rect>
			</svg>
		</button>
	</nav>
</header>
